
<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-12">
<h1 class="center-text">Recipes</h1>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Food pic">
  <div class="card-body">
 
    <h4 class="card-title"> <%= @recipe.dish %></h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-danger">Dislike</button>
    <button type="button" class="btn btn-success">Like</button>

  </div>
</div>
</div>
</div>
