<div class="jumbotron">
  <h2 class="display-3">Welcome to FoodBook</h2>
  <p class="lead">This is a simple Ruby on Rails web app that will allow you to browse and save random recipes. </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Begin</a>
  </p>
</div>
